#!/usr/bin/env bash

# Team Shared direnv.
# See: https://github.com/direnv/direnv

# Enforces `set -euo pipefail` despite user local config.
strict_env

# forces "at least"
direnv_version 2.32.1

# User local additions.
source_env_if_exists .envrc.local

# Load rtx or asdf
if has rtx && has use_rtx; then
  use rtx
elif has asdf && has use_asdf; then
  log_status "rtx not found. Falling back to asdf."
  use asdf
else
  log_error "Neither rtx nor asdf are installed or integrated with direnv."
  log_error "For asdf: https://asdf-vm.com/"
  log_error "For rtx (asdf clone in rust): https://github.com/jdxcode/rtx"
fi

# Required Env Vars for this project
# Set these vars in `.envrc.local` file

export MAESTRO_APP_ID=${MAESTRO_APP_ID:-com.crisiscleanup.demo.debug}
export MAESTRO_APP_EMAIL=${MAESTRO_APP_EMAIL:-}
export MAESTRO_APP_PASSWORD=${MAESTRO_APP_PASSWORD:-}

# Optional Env Vars

export MAESTRO_DRIVER_STARTUP_TIMEOUT=${MAESTRO_DRIVER_STARTUP_TIMEOUT:-15000}
